.resultContainer{
    padding-left: 14rem;
    padding-right: 14rem;
}

.teams_scores{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    gap: 2rem;
    position: relative;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team>.teamName{
 background-color: rgb(200, 200, 200);
 color: white;
 padding: 3px 5px;
 font-size: 11px;
 font-weight: 400;
 border-radius: 3px;
 letter-spacing: 1px;
}

.team>.score{
    font-weight: 600;
    font-size: 28px;
}

.versus{
    color: rgb(153, 160, 179);
    border-radius: 50%;
    padding: 3px;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 231, 236);
    z-index: 1;
    
}

.verticalLine{
    position: absolute;
    left: 50%;
    height: 68px;
    border-left: 2px solid rgb(230, 231, 236);
}

/* navbar */
.resultNavbar{
    border-bottom: 1px solid rgb(230, 231, 236);
    border-top: 1px solid rgb(230, 231, 236);
    margin: 1.5rem 0;
    position: relative;
overflow: hidden;
}

.resultNavbar a{
    display: inline-block;
    width: 50%;
    text-align:  center;
    text-decoration: none;
    color: initial;
    margin: .7rem 0;
    color: #66718C;
    font-weight: 300;
}

.resultNavbar a.active{
    color: black;
    font-weight: 500;
}

.navUnderline{
    width: 50%;
    height: 7px;
    border-radius: 30px;
    background-color: rgb(84, 79, 171);
    position: absolute;
    bottom: 0;
    left: 0;

    transform: translateY(50%);

    transition: .3s;
    
}