.resultsType_navbar{
    border: 1px solid rgb(230, 231, 236);
    margin: 3rem 0 2rem;
    display: flex;
    align-items: center;
    padding: .7rem 0;
    border-radius: 8px;
}

.resultsType_navbar span{
    cursor: pointer;
    padding: 0 4rem;
    margin: auto auto;
    text-align: center;
    
}




/* media query */
@media screen and (max-width: 600px) {
    .resultsType_navbar span{
        padding: 0;
    }
}


